@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.btn-primary {
  background-color: #039be5;
  border-color: unset;
  border-radius: 25px;
}
.btn-primary:hover {
  background-color: #039be5;
  border-color: unset;
}
.btn-danger {
  background-color: #d93025;
  border-color: unset;
  border-radius: 25px;
}
.btn-danger:hover {
  background-color: #d93025;
  border-color: unset;
}
.jumbotron{
  border-radius: 0px !important;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
