@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.btn-primary {
  background-color: #0984e3;
  border-color: unset;
  border-radius: 25px;
}
.btn-primary:hover {
  background-color: #74b9ff;
  border-color: unset;
}
.btn-danger {
  background-color: #d63031;
  border-color: unset;
  border-radius: 25px;
}
.btn-danger:hover {
  background-color: #ff7675;
  border-color: unset;
}
.btn-success {
  background-color: #00b894;
  border-color: unset;
  border-radius: 25px;
}
.btn-success:hover {
  background-color: #55efc4;
  border-color: unset;
}
.jumbotron{
  border-radius: 0px !important;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
